/*  your css code here. If applicable */
 body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
        }
        h1 {
            color: #3498db;
        }
        p {
            color: #555;
        }
        ol, ul {
            margin-top: 10px;
            margin-bottom: 20px;
        }
        li {
            margin-bottom: 10px;
        }